:root {
  font-family: system-ui, sans-serif;
  font-size: 1.5rem;
}

input {
  font-size: 0.75em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-inline: clamp(0.5rem, -4.1667rem + 20.7407vw, 7.5rem);
  padding-block: 3rem;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.word_input,
.invalid_letters_input {
  border-style: solid;
  border-color: black;
  padding: 8px;
  border-radius: 8px;
  background-color: transparent;
}

.answer_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
